body {
  background-color: #f9ecec;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
}
.weather-app {
  border: 5px solid #c8d9eb;
  padding: 30px;
  background-color: white;
}
.search-element {
  background-color: #f9ecec;
}
.current-location-element {
  background-color: #f9ecec;
}
.location-time {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.city {
  font-size: 50px;
  font-weight: 800;
}
.state {
  font-style: italic;
  font-weight: 500;
}

.current-time {
  font-weight: bold;
}

.current-temp {
  font-size: 50px;

  margin: 10px;
  text-align: center;
}
.units {
  font-size: 15px;
}
.current-details {
  margin: 10px;
  text-align: center;
}
.current-details li {
  font-style: italic;
}
.projected-forecast {
  border: 2px solid #c8d9eb;
  border-radius: 40px;
  margin: 10px;
  text-align: center;
}
